<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
  {{> header}}
</head>
<body>


<section class="games">
  <div class="game1">
    <h2>Starfield</h2>
    <img src="Starfield_logo.svg">
    <p class="description">Starfield is the first new universe in 25 years from Bethesda Game Studios, the award-winning creators of The Elder Scrolls V: Skyrim and Fallout 4.</p>
    <p class="price">$49.99</p>
    <button>Buy</button>
  </div>

  <div class="game2">
    <h2>Baldurs Gate 3</h2>
    <img src="Baldurs_logo.jpeg">
    <p class="description">Baldur's Gate 3 is a story-rich, party-based RPG set in the universe of Dungeons & Dragons, where your choices shape a tale of fellowship and betrayal.</p>
    <p class="price">$29.99</p>
    <button>Buy</button>
  </div>
</section>

</body>
<footer>
{{> footer}}
</footer>
</html>
